.out-container {
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
}

.my-pill {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: #6B5876;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.my-break {
    height: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}